@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@theme {
  --font-sans: 'Inter', sans-serif;
}

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  color: #1c1917;
} */

body {
  font-family: 'Inter', sans-serif;
  /* line-height: 1;
  width: 100%;
  max-width: 100%;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right); */
}

/* button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
} */

/* button:disabled {
  cursor: default;
}

li {
  list-style-type: none;
}

a {
  all: unset;
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font: inherit;
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

