@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

@theme {
  --breakpoint-xl2: 90rem; /* 1440px */
}

body {
  font-family: "Inter", sans-serif;
}
